node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# md files
QUICK-START.md
SEO-CHECKLIST.md
DEPLOYMENT.md
FINAL-SUMMARY.md
MIGRATION-GUIDE.md
OG-IMAGE-GUIDE.md